body{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
}
.header{
    overflow: hidden;
    position: relative;
}
.the_list{
    display: none;
}
.the_list a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}
a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#My_picture{
    width: 50%;
    height: 170px;
    border-radius: 33%;
    filter: grayscale(100%);
    border-style: groove;
    border-color: greenyellow;
}
footer{
    height: 150px;
    font-size: 20px; 
}
footer li{
    margin-left: 40%;
}
ul li {
    text-decoration: none;
    list-style-type: none;

}
.the_contacts{
    display: flex;
    flex: 1;
    align-content: space-between;
    text-align: center;
    justify-content: center;
    margin-right: 75px;
}
.the_contacts ul{
    width: 16%;
    
}
.the_contacts ul li{
    width: 16%; 
}
a:hover{
    background-color: lightgray;
}
a:visited {
    color: green;
}
.the_skills{
    padding: 5%;
    margin-top: -6%;
}
.the_skills img{
   padding: 0px 0px 5px 0px;
   width: 80%;
   margin-left: 35px;
}
form{
    width: 55%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: auto;
}
input{
    height: 40px;
    border:  solid gray;
} 
button{
    width: 50%;
    height: 40px;
    align-self: center;
   background-color: darkolivegreen;
}
h2, h3{
    text-align: center;
}

@media only screen and (min-Width: 720px){
    .the_skills{
        height: 150px;
        display: flex;
        justify-content: space-between;
        margin-left: -5%;
    }
    .about_me{
        width: 100%;
        font-size: 25px;
    }
    #My_picture{
        width: 25%;
        height: 200px;
    }
    .header{
        overflow: hidden;
        position: relative;
    }
    .the_list{
        display: none;
    }
    .the_list a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 14px 16px;
        float: left;
        font-size: 40px;
    }
    a.icon{
       float: right;
       font-size: 50px;
    }
    .the_projects{
        font-size: 25px;
    }
    input{
        height: 80px;
        border:  solid gray;
        font-size: 30px;
    }
    form{
        width: 50%;
    }
    footer{
        height: 200px;
        font-size: 60px; 
    }
    footer li{
        margin-left: 20%;
    }
    button{
        width: 50%;
        height: 60px;
        font-size: 33px;
    }
}